body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  margin: 0;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
.user-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}
.user-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.2s;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
button {
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  background: linear-gradient(90deg, #0b3af5b6, #44ef4a );
}

